[submodule "src/math"]
	path = src/math
	url = https://github.com/phil-stein/math
[submodule "src/global"]
  path = src/global
  url  = https://github.com/phil-stein/global

[submodule "src/text"]
	path = src/text
	url = https://github.com/phil-stein/text
