# executables
*.exe

# vim-files
*~
*.swp
*.swo

# rar-files
*.rar
.zip

# build & bin folder
bin/*
bin/*/*
!build/*/*.cap     # renderdoc
!build/*/*.a       # libraries
!build/*/*.bat     # batch files
!build/*/CMakeLists.txt
!build/*/*/CMakeLists.txt
!build/*/.gitkeep
!build/*/*/.gitkeep
